{% extends 'base.html.twig' %}

{% block title %}Book index
{% endblock %}

{% block body %}
	<h1>Book index</h1>
	<div class="container table" data-model="book">
		<div class="row">
			<div class="col-sm">Id</div>
			<div class="col-sm">Title</div>
			<div class="col-sm">Description</div>
			<div class="col-sm">Cover</div>
			<div class="col-sm">PublishYear</div>
			<div class="col-sm">Authors</div>
			<div class="col-sm">actions</div>
		</div>
{% include 'book/_inline_filter.html.twig' with {'authors': authors } %}
		{% for book in books %}
			{% include 'book/_inline.html.twig' with {'book': book } %}
		{% else %}
			<div class="col-sm">
				<span class="td" colspan="6">no records found</span>
			</div>
		{% endfor %}
	</div>
</div>
<a href="{{ path('book_new') }}">Create new</a>
<script src="{{ asset('js/inlineEdit.js') }}"></script>{% endblock %}
