{% extends 'base.html.twig' %}

{% block title %}Book index
{% endblock %}

{% block body %}
	<h1>Book index</h1>
	<div class="container table" data-model="book">
		<div class="row">
			<div class="col-sm">Id</div>
			<div class="col-sm">Title</div>
			<div class="col-sm">Description</div>
			<div class="col-sm">Cover</div>
			<div class="col-sm">PublishYear</div>
			<div class="col-sm">Authors</div>
			<div class="col-sm">actions</div>
		</div>
		<form method="get" action="{{ path('book_filter') }}">
			<div class='row'>
				<div class="col-sm form-group">
					<input class="form-control" name="id" type="number">
				</div>
				<div class="col-sm"><input class="form-control" name="title" type="text"></div>

				<div class="col-sm">
					<input class="form-control" name="description" type="text"></div>

				<div class="col-sm"></div>
				<div class="col-sm"><input class="form-control" name="publish_year" type="text"></div>

				<div class="col-sm"><input class="form-control" name="author" type="text"></div>

				<div class="col-sm"><input class="form-control" type="submit" value="Фильтр"></div>

			</div>
		</form>


		{% for book in books %}
			{% include 'book/_inline.html.twig' with {'book': book } %}
		{% else %}
			<div class="col-sm">
				<span class="td" colspan="6">no records found</span>
			</div>
		{% endfor %}
	</div>
</div>
<a href="{{ path('book_new') }}">Create new</a>
<script src="{{ asset('js/inlineEdit.js') }}"></script>{% endblock %}
